$dark: #1A1A1A;
$gray: #808080;
$white: #FFFFFF;
$blue: #0000FF;
$light: #F2F2F2;

$h1: 10vw;
$h2: 3.333vw;
$h3: 2.222vw;
$p: 1.667vw;

$h1Mobile: 25.6vw;
$h2Mobile: 8.533vw;
$h3Mobile: 6.4vw;
$pMobile: 4.267vw;

$mNav: 16.389vw;
$m6: 0.417vw;
$m12: 0.833vw;
$m16: 1.111vw;
$m24: 1.667vw;
$m32: 2.222vw; 
$m48: 3.333vw;
$m64: 4.444vw;
$m96: 6.667vw;
$m144: 10vw;
$m192: 13.333vw;
$m240: 16.667vw;

$m12Mobile: 3.2vw;
$m16Mobile: 4.267vw;
$m32Mobile: 8.533vw;
$m48Mobile: 12.8vw;
$m64Mobile: 17.067vw;
$m96Mobile: 25.6vw;


$w1: 5.139vw;
$w2: 12.013vw;
$w3: 18.819vw;
$w4: 25.625vw;
$w5: 32.5vw;
$w6: 39.306vw;
$w7: 46.111vw;
$w8: 52.986vw;
$w9: 59.792vw;
$w10: 66.597vw;
$w11: 73.403vw;
$w12: 80.278vw;
$wFull: 83.611vw;

$w1Mobile: 19.733vw;
$w2Mobile: 43.733vw;
$w3Mobile: 67.467vw;
$w4Mobile: 91.467vw;
