@import '../../../variables.scss';

.button_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: max-content;

    h3 {
        display: inline;
        margin-bottom: 0;
        margin-right: $m12;
        color: $dark;
    }

    img {
        display: inline;
        width: 1.8vw;
        height: auto;
    }
}

.button_container:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 480px) {
    .button_container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: max-content;
    
        h3 {
            display: inline;
            margin-bottom: 0;
            margin-right: 1.6vw;
            color: $dark;
        }
    
        img {
            width: 4vw;
        }
    }
}